*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(139, 255, 253);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 2px arial;
}

main{
    background-color: rgb(250, 250, 250);
    width: 600px;
    border-radius: 10px;    
    border: 2px groove;
    height: 800px;
}

main #navbar{
    margin: 25px 0px 40px 25px;
}

main #navbar .navbar-link{
    margin-left: 10px;
    color: rgb(17, 15, 15);
    text-decoration: none;
}

main #navbar .navbar-link:hover{
    opacity: 0.8;
}

main #navbar .navbar-link:active{
    opacity: 0.5;
}

main #navbar #navbar-child1{
    font-weight: bold;
}

main #container-top{
    width: 100%;
    height: 200px;
}

main #container-top #h1-name{
    position: relative;
    top: 40px;
    margin-left: 25px;
    font-size: 35px;
    width: 200px;
}

main #container-top #p-profission{
    position: relative;
    top: 40px;
    margin-top: 10px;
    margin-left: 25px;
    width: 200px;
    color: rgb(8, 8, 8);
    font-size: 20px;
}

main #image-rosto{
    position: relative;
    left: 70%;
    bottom: 40px;
    width: 130px;
}

main #mim{
    margin: 30px 0px 10px 25px;
    font-size: 25px;
}

main #p-description{
    margin-left: 25px;
    margin-right: 30px;
}

main #projects{
    margin: 40px 0px 10px 25px;
    font-size: 25px;
}

main #section-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 25px 0px 25px;
    height: 250px;
}

main #section-projects .container-projects{
    margin-right: 10px;
    width: 150px;
    height: 180px;
    border: 2px groove;
    border-radius: 10px;
}

main #section-projects .container-projects .image-section{
    width: 50px;
    display: block;
    margin: auto;
}

main #section-projects .container-projects .h5-project{
    font-size: 18px;
    margin: 10px 0px 15px 0px;
    text-align: center;
}

main #section-projects .container-projects .p-project{
    text-align: center;
    margin: 0px 8px;
}